/* Variáveis de cores */
:root {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(12, 12, 12);
    --header-background: rgb(182, 181, 218);
    --header-text: rgb(2, 2, 2);
    --link-hover-bg: rgba(224, 230, 227, 0.1);
    --box-shadow-color: rgba(12, 220, 16, 0.1);
    --div-background: rgb(255, 250, 250);
    --footer-border: rgb(200, 200, 200);
    --highlight-shadow: rgb(0, 0, 0);
}

/* Estilos globais */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
header {
    background-color: var(--header-background);
    color: var(--header-text);
    padding: 0.5em;
    text-align: center;
}

/* Navegação */
nav {
    background-color: var(--header-background);
    color: var(--header-text);
    padding: 0.5em;
    text-align: center;
    
}

nav a {
    color: var(--header-text);
    text-decoration: none;
    

}

nav a:hover {
    text-decoration: underline;
    background-color: var(--link-hover-bg);
    padding: 0.2em;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--box-shadow-color)

}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li {
    display: inline;
    margin: 0 1em;
    
}

/* Títulos */
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;;
    text-shadow: 2px 2px 4px rgba(91, 91, 91, 0.508);
   
}

h1 {
    font-size: 2em;
    box-shadow: 0 0 10px var(--box-shadow-color);
    margin: 40px 0 20px 0;
    padding: 15px;
    background-color: rgb(182, 181, 218);

}

h2 {
    font-size: 1.5em;
    text-align: left;
    margin: 90px 0 40px 40px;
}


.conhecimento-item {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
            }
.conhecimento-item:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }
        

/* Listas */
.li {
    font-size: 1em;
    font-style: italic;
    text-align: left;
    margin: 20px 20px 20px 40px;
    padding: 10px;
    background-color: var(--background-color);
}

/* Divs */
div {
    font-size: 1em;
    font-style: italic;
    margin: 2px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 30px rgb(2, 2, 2);
    background-color: var(--div-background);
}



/* Flexbox */
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.flexbox div {
    border: 2px solid rgb(16, 16, 16);
    width: 200px;
    margin: 10px;
}

/* Parágrafos */
p, .paragrafo {
    font-size: 1em;
    text-align: left;
    margin: 20px ;
}

.paragrafo {
    font-style: italic;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 30px var(--highlight-shadow);
    background-color: var(--div-background);
}

/* Botões PROJETOS */
button {
    font-size: 1em;
    font-style: italic;
    margin: 1px;
    padding: 1px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 10px;
    text-transform: underline;
    
}

/* Rodapé */
footer {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    color: var(--header-text);
    margin-top: 5em;
    padding: 1em;
    border-top: 0.5px solid var(--footer-border);
}

/* Imagens */
.foto, .foto1, .foto2, .foto3, .foto4, .contato, .plano {
    border: 2px solid black;
}

.foto {
    float: left;
    margin: 20px ;
    border-radius: 50%;
    width: 250px;
}

.foto1, .foto2, .foto3, .foto4 {
    border-radius: 10%;
}

.foto1 {
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: transform 0.3s ease-in-out;
}

.foto1:hover {
    transform: scale(1.1);
}

.foto2 {
    width: 180px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: transform 0.3s ease-in-out;
}

.foto2:hover {
    transform: scale(1.1);
}

.foto3 {
    width: 120px;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: transform 0.3s ease-in-out;
}

.foto3:hover {
    transform: scale(1.1);
}

.foto4 {
    width: 100px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: transform 0.3s ease-in-out;
}

.foto4:hover {
    transform: scale(1.1);
}



.contato, .plano {
    width: 170px;
    border-radius: 10%;
    margin: 10px 10px 10px 13px;

}




